*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    border: 1px solid red;
    display: flex;
    margin: auto;
    width: 852px;
    height: 852px;
    flex-wrap: wrap;
}

.container2{
    display: flex;
    margin: auto;
    width: 900px;
    height: 900px;
    flex-wrap: wrap;
}


.button{
  display: flex;
  margin: 10px auto;
  padding: 6px 12px;
}